@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");

:root {
	/*========== Colors ==========*/
	--first-hue: 207;
	--sat: 90%;
	--lig: 72%;
	--second-hue: 211;
	--first-color: hsl(var(--first-hue), var(--sat), var(--lig));
	--text-color: hsl(var(--second-hue), 8%, 75%);
	--text-color-light: hsl(var(--second-hue), 8%, 100%);
	--body-color: hsl(var(--second-hue), 48%, 8%);
	--body-color-light: hsl(var(--second-hue), 55%, 20%);
	--container-color: hsl(var(--second-hue), 44%, 28%);

	/*========== Font ==========*/
	--body-font: "Lexend", sans-serif;
	--huge-font-size: 2.25rem;
	--biggest-font-size: 1.75rem;
	--evenbigger-font-size: 1.5rem;
	--bigger-font-size: 1.25rem;
	--big-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--font-medium: 500;
	--font-semibold: 600;

	/*========== Z-index ==========*/
	--z-fixed: 100;
	--z-hamburger: 1000;
	--perspective: 1000px;

	/*========== Others ==========*/
	--menu-box-width: 250px;
	--shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/*========== Responsive font ==========*/
@media screen and (min-width: 800px) {
	:root {
		--huge-font-size: 3rem;
		--biggest-font-size: 2.5rem;
		--evenbigger-font-size: 2.25rem;
		--bigger-font-size: 1.5rem;
		--big-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	text-align: justify;
	text-justify: inter-word;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	transition: 0.4s;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--first-color);
}

p {
	padding: 0.5rem 0 0.5rem 0;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 968px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.grid {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 1.25rem;
}

.main {
	overflow: hidden;
}

.section {
	font-size: var(--bigger-font-size);
	padding: 1rem;
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexcolumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fill {
	width: 100%;
	height: 100%;
}

.section__title,
.section__subtitle {
	text-align: center;
}

.section__title {
	font-size: var(--huge-font-size);
	font-weight: var(--font-semibold);
	color: var(--first-color);
}

.section__subtitle {
	font-size: var(--evenbigger-font-size);
	font-weight: var(--font-semibold);
	color: var(--text-color-light);
}

/*============== FLIPCARD ==============*/

.flipcard {
	/* display */
	width: 100%;
	aspect-ratio: 1/1;
	perspective: var(--perspective);
}

.flipcard__inner {
	/* display */
	position: relative;
	/* animation */
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flipcard__front,
.flipcard__back {
	/* display */
	position: absolute;
	padding: 0.25rem;
	text-align: left;
	backface-visibility: hidden;
	/* style */
	border-radius: 5%;
	background-color: var(--container-color);
	font-size: var(--smaller-font-size);
}

.flipcard__back > * {
	/* display */
	padding: 0.25rem;
	width: 100%;
}

/* flip card animation */

.flipcard:hover .flipcard__inner {
	transform: rotateY(180deg);
}

.flipcard__back {
	transform: rotateY(180deg);
}

@media screen and (min-width: 800px) {
	.flipcard__front,
	.flipcard__back {
		font-size: var(--normal-font-size);
	}
}

/*=============== NAVIGATION MENU ===============*/

/* Checkbox trigger */
#menu__toggle {
	display: none;
}

#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}

/* Hamburger box */
.menu__hamburger {
	/* display */
	position: fixed;
	display: flex;
	align-items: center;
	z-index: var(--z-hamburger);
	/* offset */
	top: 20px;
	left: 20px;
	/* size */
	width: 26px;
	height: 26px;
	/* style */
	cursor: pointer;
	font-size: var(--evenbigger-font-size);
}

/* Make hamburger from 3 lines */
.menu__hamburger > span,
.menu__hamburger > span:before,
.menu__hamburger > span:after {
	/* display */
	position: absolute;
	display: block;
	content: ""; /* Content is required so that the pseudo elements are created */
	/* size */
	width: 100%;
	height: 2px;
	/* style */
	background-color: var(--first-color);
	/* animation */
	transition: 0.3s;
}
.menu__hamburger > span:before {
	top: -8px;
}
.menu__hamburger > span:after {
	bottom: -8px;
}

/* Change hamburger to close (X) icon */
#menu__toggle:checked ~ .menu__hamburger > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__hamburger > span:before {
	top: 0;
}
#menu__toggle:checked ~ .menu__hamburger > span:after {
	top: 0;
	transform: rotate(90deg);
}

/* Menu box */
.menu__box {
	/* display */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	visibility: hidden;
	z-index: var(--z-fixed);
	overflow: scroll;
	/* offset */
	top: 0;
	left: -100%;
	/* size */
	width: var(--menu-box-width);
	height: 100%;
	/* style */
	margin: 0;
	padding: 2rem 0; /* from top of screen */
	text-align: center;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.5);
	box-shadow: var(--shadow);
	/* animation */
	transition: 0.3s ease-in-out;
}

@media screen and (min-height: 650px) {
	.menu__box {
		padding-top: 4.5rem;
	}
}

.menu__item {
	/* display */
	display: block;
	/* style */
	font-size: var(--bigger-font-size);
	font-weight: var(--font-semibold);
	color: var(--text-color);
	padding: 1.2rem 3rem;
	/* animation */
	transition: background 0.3s;
}

.menu__item:hover {
	background-color: var(--container-color);
}

.menu__socials {
	/* display */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu__socials a {
	/* style */
	color: var(--first-color);
	font-size: var(--biggest-font-size);
}

/*=============== HERO SECTION ===============*/

.hero__section {
	/* display */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	/* size */
	width: 100%;
	height: 100vh;
	/* background */
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* https://pixabay.com/photos/stars-starry-sky-night-heaven-5084047/ */
	background-image: url("../images/hero_img.jpg");
}

.hero__text {
	/* style */
	font-size: var(--big-font-size);
	color: var(--text-color-light);
	text-align: center;
	padding: 1rem;
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.2);
	/* white border */
	border: 2px solid var(--text-color-light);
	/* animation */
	transition: all 0.5s ease-in-out;
}

.hero__text > p {
	/* style */
	padding: 0;
	font-size: var(--normal-font-size);
}

.hero__text:hover {
	transform: scale(1.1);
}

@media screen and (min-width: 800px) {
	.hero__text {
		font-size: var(--biggest-font-size);
	}
	.hero__text > p {
		padding: 0;
		font-size: var(--bigger-font-size);
	}
}

/*=============== ABOUT ===============*/

.about__avatar {
	/* display */
	width: 33%;
	display: none;
	min-width: 460px;
}

@media screen and (min-width: 800px) {
	.about__avatar {
		/* display */
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*=============== SKILLS ===============*/

.skills .grid {
	/* display */
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	padding: 1rem 0 1rem 0;
	box-sizing: border-box;
}

.skill__card {
	/* style */
	border-radius: 1rem;
	background-color: var(--container-color);
}

.skills .flipcard__front > img {
	object-fit: scale-down;
	transform: scale(0.8);
}

.other__skills li {
	list-style-type: circle;
}

@media screen and (min-width: 800px) {
	.skills .grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.skills .flipcard__front > img {
		transform: scale(1.2);
	}
}

/*=============== EXPERIENCE | EDUCATION ===============*/

.experience .grid {
	/* display */
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 1rem;
}

.experience__box {
	/* display */
	display: flex;
	flex-direction: column;
	justify-content: left;
	/* size */
	min-width: 290px;
	max-width: 400px;
	/* style */
	background-color: var(--container-color);
	border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
	.experience .grid {
		max-width: 968px;
		margin-left: auto;
		margin-right: auto;
	}
}

.experience__box .section__subtitle + hr {
	/* style */
	border: 0.15rem solid var(--text-color-light);
}

.experience__title {
	/* style */
	color: var(--text-color-light);
	font-size: var(--evenbigger-font-size);
	text-align: center;
}

.experience__item {
	/* display */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
	/* style */
	text-align: left;
	font-size: var(--big-font-size);
}

.experience__item i {
	color: var(--text-color-light);
}

.experience__item p {
	padding: 0;
}

@media screen and (min-width: 800px) {
	.experience .grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		justify-content: space-around;
	}
}

/*=============== PROJECTS ===============*/

.projects .grid {
	/* display */
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 1rem;
}

.projects .flipcard {
	/* display */
	width: 100%;
	min-width: 270px;
	max-width: 400px;
	aspect-ratio: 1/2;
	perspective: var(--perspective);
}

.project__title {
	/* style */
	width: 100%;
	color: var(--text-color-light);
	font-size: var(--evenbigger-font-size);
	text-align: center;
}

.projects i {
	color: var(--text-color-light);
	font-size: var(--small-font-size);
}

.projects p {
	padding: 0;
}

.projects img {
	object-fit: scale-down;
	transform: scale(0.8);
}

.projects .flipcard__front {
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 0.5rem;
	font-size: var(--big-font-size);
}

.projects pre {
	border-radius: 5%;
	background-color: var(--body-color-light);
	width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.projects code {
	overflow: inherit;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semibold);
}

@media screen and (min-width: 800px) {
	.project__title {
		font-size: var(--bigger-font-size);
	}

	.projects .flipcard__front {
		font-size: var(--normal-font-size);
	}

	.projects .grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		justify-content: space-around;
	}

	.projects code {
		font-size: var(--small-font-size);
	}

	.projects img {
		transform: scale(1);
	}
}

/*=============== INTERESTS ===============*/

.petersen {
	/* display */
	width: 33%;
	display: none;
	min-width: 460px;
	padding: 1rem;
}

@media screen and (min-width: 800px) {
	.petersen {
		/* display */
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*=============== FOOTER ===============*/
footer {
	/* display */
	bottom: 0;
	align-items: center;
	padding: 1rem;
	margin: 0;
	/* size */
	width: 100%;
	height: 10rem;
	/* style */
	background-color: var(--first-color);
}

.footer__socials {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer__socials a {
	/* style */
	font-size: var(--huge-font-size);
	color: var(--container-color);
	padding: 1rem;
}

.footer__copyright {
	/* display */
	width: 100%;
	padding-bottom: 1rem;
	/* style */
	font-size: var(--small-font-size);
}

.footer__copyright > * {
	padding: 0.2rem;
}

footer > * {
	color: var(--container-color);
}

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
